@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

.welcomeMain {
  width: 100%;
  min-height: 100vh;
  background-color: #804bf2;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomegoldsmallcircle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);
  left: 200px;
  top: 160px;
}

.welcomegoldsmallcircle1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(231, 179, 9);
  right: 200px;
  bottom: 160px;
}

.welcomecontainer {
  width: 50%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
}
.wlcomeback {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & h1 {
    color: #804bf2;
    font-family: "Sora", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
  }
}

.hello {
  height: 40%;
  width: 95%;
  display: flex;
  flex-direction: column;

  & span {
    font-size: 41px;
    font-family: "Sora", sans-serif;
    font-weight: 700;
    color: #1e1e1e;
    text-align: center;
    line-height: 64px;
  }

  & p {
    color: #1e1e1e;
    text-align: center;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 46.004px;
  }
}

.btncontainer {
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcomebtn {
  display: flex;
  width: 281px;
  height: 67px;
  padding: 11.501px;
  justify-content: center;
  align-items: center;
  gap: 11.501px;
  flex-shrink: 0;
  background: #804bf2;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.053px;
  border: none;
  color: #fff;
  cursor: pointer;
}
