.aboutUsMain {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.heroImgContainer {
  object-fit: contain;
  width: 100%;
  height: 45vh;
  background-color: aqua;

  .heroImg {
    width: 100%;
    height: 100%;
  }
}

.aboutdescription {
  width: 100%;
  height: auto;
  display: flex;
  padding: 47px 127.5px 47px 128.5px;
  justify-content: center;
  align-items: center;
  background: #804bf2;

  & h1 {
    width: 40%;
    color: #fff;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    gap: 10px;
    /* line-height: 25px; */

    .aboutem {
      color: #f2ae30;
      font-family: Montserrat;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
    }
  }
  .heroline {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & span {
    width: 40%;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
  }
}
.aboutstatements {
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 5px;

  .aboutcard {
    width: 33.099%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 20px 40px;
    background: rgba(128, 75, 242, 0.2);
    gap: 10px;

    & h1 {
      color: #804bf2;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
    }

    & p {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px;
    }

    & span {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 35px;
    }
  }

  .innertext {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .statementImg {
    width: 100%;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

.aboutthirdsection {
  width: 100%;
  height: 100vh;
}
