@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    height: 98px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    z-index: 1000;
}
.header-holder{
    height: 74px;
    width: 87.7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.header-holderImg{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.header-holderText{
    width: 76%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul{
        height: 34px;
        width: 67%;
        display: flex;
        justify-content: space-between;
        padding-inline: 5px;
        align-items: center;

        li{
            padding: 10px;
            list-style: none;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid;
            transition: border 350ms ease-in-out;
        }
    }

    aside{
        height: 54px;
        width: 25.4%;
        display: flex;
        justify-content: space-between;

        .header-signup{
            width: 112px;
            height: 54px;
            border-radius: 6px;
            padding: 10px;
            border: 1px solid #804BF2;
            justify-content: center;
            align-items: center;
            outline: none;
            font-weight: 700;
            font-size: 14px;
            color: #1E1E1E;
            cursor: pointer;
            background-color: white;
        }

        .header-login{
            width: 112px;
            height: 54px;
            border-radius: 6px;
            padding: 10px;
            background-color: #804BF2;
            border: 1px solid #804BF2;
            justify-content: center;
            align-items: center;
            outline: none;
            font-weight: 700;
            font-size: 14px;
            color: white;
            cursor: pointer;
        }
    }
}